* {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.container {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(-45deg , #F76E11, #FC4F4F);
    display: grid;
    grid-template-rows: 120px auto 220px;
}
header {
    grid-row: 1 / 2;
    background-color: transparent black;
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: space-around;
    border-bottom: 5px solid white;
}
.MainLogo {
    width: 100px;
    height: 100px;
    justify-content: center;
    align-items: center;
}
.mnlogo:hover {
    cursor: pointer;
}
.logo {
    display: flex;
    gap: 100px;
}
.menus {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:80px;
}
.searchContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}   
#Search {
    width: 50px;
    height: 50px;
    background-color: #194350;
    outline: none;
    border: 0px;
    border-radius: 50%;
    color: white;

}
#slct {
    background-color: #FC4F4F;
    border-radius: 5px;
    border: 1px solid white;
    width: 120px;
    font-size: 20px;
    color: white;
    transition: 0.5s;
}
#slct:hover {
    box-shadow: 0px 0px 25px #bdeaee ;
}
.mnlogo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
footer {
    grid-row: 3 / 4;
    border-top: 5px solid white;
    background: linear-gradient(-45deg , #005b96, #03396c);
    display: flex;
    justify-content: space-around;
}
.system {
    font-size: 40px !important;
    color: gainsboro;
}
.app {
    font-size: 40px !important;
    color: gainsboro;
}
.copyRight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.android {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    cursor: pointer;
}
.supports {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    cursor: pointer;
}
.copy {
    font-size: 18px;
    color: gainsboro;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.uria {
    font-size: 25px;
    color: gainsboro;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.insta {
    transition: 0.5s;
}
.twitter {
    transition: 0.5s;
}
.face {
    transition: 0.5s;
}
.red {
    transition: 0.5s;
}
.insta:hover {
    color: #FC4F4F;
}
.twitter:hover {
    color: #63ace5;
}
.face:hover {
    color: #4b86b4;
}
.red:hover {
    color:  #f37736 ;
}
.and {
    transition: 0.5s;
}
.ip {
    transition: 0.5s;
}
.and:hover {
    color: #7bc043 ; 
}
.ip:hover {
    color: black;
}
main {
    grid-row: 2 / 3;
    display: grid;
    grid-template-rows: 100px auto;
}
.topmain {
    width: 100vw;
    display: flex;
    justify-content: space-between;
}
.type {
    width: 100vw;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box {
    width: 100px;
    height: 30px;
    background-color: white;
    border: 3px solid #03396c;
    border-right: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    cursor: pointer;
}   
.box:hover {
    background-color: gainsboro;
}
.BoxTwo {
    cursor: pointer;
    width: 100px;
    height: 36px;
    background-color: white;
    border: 3px solid #03396c;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
}
.BoxTwo:hover {
    background-color: gainsboro;
}