* {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 120px 800px 220px;
}
header {
    grid-row: 1 / 2;
    background-color: #C44536;
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: space-around;
    border-bottom: 5px solid white;
    z-index: 1;
}
.searchContainer {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
}
.glass {
    color: black;
    padding: 8px;
    background-color: #EDDDD4;
    border-radius: 50% 0 0 50%;
    position: relative;
    left: 8px;
}
#srch {
    outline: none;
    border: 0;
    border-radius: 0 20px 20px 0px ;
    width: 120px;
    height: 40px;
    padding-left: 12px;
    background-color: #EDDDD4;    
    color: black;
    transition: 1s;
}
.MainLogo {
    width: 100px;
    height: 100px;
    justify-content: center;
    align-items: center;
}
.mnlogo:hover {
    cursor: pointer;
}
.logo {
    display: flex;
    gap: 100px;
}
.menus {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:80px;
}
#Search {
    width: 50px;
    height: 50px;
    background-color: #194350;
    outline: none;
    border: 0px;
    border-radius: 50%;
    color: white;

}
#slct {
    background-color: #EDDDD4;
    border-radius: 5px;
    border: 1px solid white;
    width: 120px;
    font-size: 20px;
    color:black;
    transition: 0.5s;
}
#slct:hover {
    box-shadow: 0px 0px 25px #bdeaee ;
}
.mnlogo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
footer {
    grid-row: 3 / 4;
    border-top: 5px solid white;
    background: linear-gradient(-45deg , #005b96, #03396c);
    display: flex;
    justify-content: space-around;
}
.system {
    font-size: 40px !important;
    color: gainsboro;
}
.app {
    font-size: 40px !important;
    color: gainsboro;
}
.copyRight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.android {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    cursor: pointer;
}
.supports {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    cursor: pointer;
}
.copy {
    font-size: 18px;
    color: gainsboro;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.uria {
    font-size: 25px;
    color: gainsboro;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.insta {
    transition: 0.5s;
}
.twitter {
    transition: 0.5s;
}
.face {
    transition: 0.5s;
}
.red {
    transition: 0.5s;
}
.insta:hover {
    color: #FC4F4F;
}
.twitter:hover {
    color: #63ace5;
}
.face:hover {
    color: #4b86b4;
}
.red:hover {
    color:  #f37736 ;
}
.and {
    transition: 0.5s;
}
.ip {
    transition: 0.5s;
}
.and:hover {
    color: #7bc043 ; 
}
.ip:hover {
    color: black;
}
main {
    grid-row: 2 / 3;
    display: grid;
    grid-template-rows: 100px auto;
    background-color: #EDDDD4;
    z-index: 0;
}
.topmain {
    display: flex;
    justify-content: space-between;
    background-color: #EDDDD4;
}
.type {
    width: 100vw;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box {
    width: 100px;
    height: 30px;
    background-color: white;
    border: 3px solid #03396c;
    border-right: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    cursor: pointer;
}   
.box:hover {
    background-color: gainsboro;
}
.BoxTwo {
    cursor: pointer;
    width: 100px;
    height: 36px;
    background-color: white;
    border: 3px solid #03396c;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
}
.BoxTwo:hover {
    background-color: gainsboro;
}
/* .leftshouldermuscle:hover{
    transform: scale(1.2); */
.malefigures {
    padding-bottom: 50px;

}
    .leftshouldermuscle {

        position: absolute;
        top: 18.4%;
        left: 26.7%;
        transition: 0.5s;
        width: 1.8%;
    }

    .rightshouldermuscle {
    
        position: absolute;
        top: 18.4%;
        left: 30.48%;
        width: 1.8%;
        transition: 0.5s;
    
    }
    
    .leftshoulder {
    
        position: absolute;
        top: 20.6%;
        left: 22.2%;
        width: 3.61%;
        transition: 0.5s;
    }
    
    .rightshoulder {
    
        position: absolute;
        top: 20.6%;
        left: 33.7%;
        width: 3.61%;
        transition: 0.5s;
    
    }
    
    .boobs {
    
        position: absolute;
        top: 22%;
        left: 25.4%;
        width: 8%;
        transition: 0.5s;
    }
    
    .leftbicep {
    
        position: absolute;
        top: 27.68%;
        left: 21.3%;
        width: 2.05%;
        transition: 0.5s;
    }
    
    .rightbicep {
    
        position: absolute;
        top: 27.78%;
        left: 36.2%;
        width: 2.05%;
        transition: 0.5s;
    
    }
    
    .leftforearm {
    
        position: absolute;
        top: 35.1%;
        left: 17.3%;
        width: 3.62%;
        transition: 0.5s;
    
    }
    
    .rightforearm {
    
        position: absolute;
        top: 35.5%; 
        left: 37.6%;
        width: 3.61%;
        transition: 0.5s;
    
    }
    
    .sixpack {
    
        position: absolute;
        top: 29.5%;
        left: 26.8%;
        width: 4.78%;
        transition: 0.5s;
    
    }
    
    
    
    .leftthigh {
    
        position: absolute;
        top: 33%;
        left: 23.5%;
        width: 3.3%;
        transition: 0.5s;
        
    
    }
    
    .rightthigh {
    
        position: absolute;
        top: 33%;
        left: 31.9%;
        width: 3.3%;
        transition: 0.5s;
    
    }
    
    .leftkalf {
    
        position: absolute;
        top: 44.5%;
        left: 23.6%;
        width: 2.7%;
        transition: 0.5s;
    
    }
    
    .rightkalf {
    
        position: absolute;
        top: 44.5%;
        left: 32.4%;
        width: 2.7%;
        transition: 0.5s;
    
    }
    
    .rightleg {
    
        position: absolute;
        top: 57%;
        left: 22.3%;
        width: 3.5%;
        transition: 0.5s;
    }
    
    .leftleg {
    
        position: absolute;
        top: 57%;
        left: 32.8%;
        width: 3.5%;
        transition: 0.5s;
    
    }

.leftshouldermuscle:hover {
    transform: scale(1.2);
}
.rightshouldermuscle:hover {
    transform: scale(1.2);
}
.leftshoulder:hover {
    transform: scale(1.2);
}
.rightshoulder:hover {
    transform: scale(1.2);
}
.boobs:hover {
    transform: scale(1.2);
}
.leftbicep:hover {
    transform: scale(1.2);
}
.rightbicep:hover {
    transform: scale(1.2);
}
.sixpack:hover {
    transform: scale(1.2);
}.rightforearm:hover {
    transform: scale(1.2);
}.leftthigh:hover {
    transform: scale(1.2);
}.rightthigh:hover {
    transform: scale(1.2);
}
.rightleg:hover {
    transform: scale(1.2);
}
.leftleg:hover {
    transform: scale(1.2);
}
.rightthigh:hover {
    transform: scale(1.2);
}
.rightthigh:hover {
    transform: scale(1.2);
}
.rightthigh:hover {
    transform: scale(1.2);
}
.rightthigh:hover {
    transform: scale(1.2);
}
.leftforearm:hover {
    transform: scale(1.2);
}